<a href="https://colab.research.google.com/github/kpmaynard/ultimate_pandas_bootcamp/blob/main/Regular_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
dataurl='https://andybek.com/pandas-marathon'

In [4]:
df = pd.read_csv(dataurl)

In [5]:
df.head()

                Name  Age M/F  ... Overall Gender Years Ran
0   Kirui, Geoffrey    24   M  ...       1      1       NaN
1     Rupp, Galen      30   M  ...       2      2       NaN
2    Osako, Suguru     25   M  ...       3      3       NaN
3   Biwott, Shadrack   32   M  ...       4      4       NaN
4     Chebet, Wilson   31   M  ...       5      5      2015

[5 rows x 10 columns]

In [6]:
help(pd.Series.get)

Help on function get in module pandas.core.generic:

get(self, key, default=None)
    Get item from object for given key (ex: DataFrame column).

    Returns default value if not found.

    Parameters
    ----------
    key : object

    Returns
    -------
    value : same type as items contained in object

In [7]:
df.Name.str.split(', ').str.get(0)

0           Kirui
1            Rupp
2           Osako
3          Biwott
4          Chebet
          ...
995        Larosa
996    Williamson
997         Mccue
998        Larosa
999       Sanchez
Name: Name, Length: 1000, dtype: object

In [8]:
df[['First Name', 'Last Name']] = df.Name.str.split(', ', expand=True)

In [9]:
df[df['Last Name'].str.find('James') != -1]

                   Name  Age M/F  ...  Years Ran  First Name Last Name
176     Miller, James L   25   M  ...        NaN      Miller   James L
243        Lloyd, James   24   M  ...       2016       Lloyd     James
246    Jackson, James P   27   M  ...        NaN     Jackson   James P
574     Onigkeit, James   49   M  ...       2016    Onigkeit     James
605     Fisher, James A   26   M  ...  2015:2016      Fisher   James A
650   O'Sullivan, James   32   M  ...       2016  O'Sullivan     James
657     Perez, James P.   25   M  ...        NaN       Perez  James P.
723   Newhouse, James B   24   M  ...        NaN    Newhouse   James B
782  Greenham, James D.   40   M  ...        NaN    Greenham  James D.
923         Baek, James   23   M  ...       2016        Baek     James
975     Mcevoy, James R   32   M  ...        NaN      Mcevoy   James R
976      Blowers, James   45   M  ...        NaN     Blowers     James

[12 rows x 12 columns]

In [10]:
len(df[df.Name.str.split(', ').str.get(1).str.find('James') != -1])

12

In [11]:
df2=df.City.str.split('-', expand=True)

In [12]:
len(df2[df2.count(axis=1) > 1])

13

In [13]:
#all italian runners
df[df.Country == 'ITA']

                          Name  Age M/F  ...  Years Ran  First Name      Last Name
56          Boudalia, Said Sr.   48   M  ...  2015:2016    Boudalia       Said Sr.
156         Achmuller, Hermann   46   M  ...        NaN   Achmuller        Hermann
792  Consolandi, Paolo Giorgio   39   M  ...        NaN  Consolandi  Paolo Giorgio
922       Zompanti, Alessandro   48   M  ...        NaN    Zompanti     Alessandro

[4 rows x 12 columns]

In [14]:
otdf=df['Official Time']

In [15]:
#2:09:37 => 2 hours 9 minutes and 37 seconds

In [16]:
st='2:09:37'

In [17]:
import re
re.sub(r"(\d{1,2}):(\d{1,2}):(\d{1,2})", r"\1 and \2 and \3", st
           
           )

'2 and 09 and 37'

In [18]:
otdf.str.replace(r"(\d{1,2}):(\d{,2}):(\d{,2})", r"\1 hours \2 minutes and \3 seconds", regex=True)

0      2 hours 09 minutes and 37 seconds
1      2 hours 09 minutes and 58 seconds
2      2 hours 10 minutes and 28 seconds
3      2 hours 12 minutes and 08 seconds
4      2 hours 12 minutes and 35 seconds
                     ...
995    2 hours 56 minutes and 06 seconds
996    2 hours 56 minutes and 06 seconds
997    2 hours 56 minutes and 06 seconds
998    2 hours 56 minutes and 07 seconds
999    2 hours 56 minutes and 08 seconds
Name: Official Time, Length: 1000, dtype: object

In [19]:
# skills challenge

In [57]:
final_times=df['Official Time'].str.split(':', expand=True)

In [58]:
final_times.rename(columns={0:'hours',1:'minutes',2:'seconds'}, inplace=True)

In [59]:
final_times.head()

  hours minutes seconds
0     2      09      37
1     2      09      58
2     2      10      28
3     2      12      08
4     2      12      35

In [60]:
final_times['total time'] = final_times['hours'].astype(int)*3600 + final_times['minutes'].astype(int)*60 + final_times['seconds'].astype(int)

In [61]:
final_times.head()

  hours minutes seconds  total time
0     2      09      37        7777
1     2      09      58        7798
2     2      10      28        7828
3     2      12      08        7928
4     2      12      35        7955

In [44]:
# final_times=df['Official Time'].str.split(':', expand=True)

In [76]:
from pandas._libs.hashtable import value_count
final_times['total time'][~df['Years Ran'].str.contains('2016').fillna(False)].agg('mean') <=final_times['total time'][df['Years Ran'].str.contains('2016').fillna(False)].agg('mean')

True