<a href="https://colab.research.google.com/github/kpmaynard/ultimate_pandas_bootcamp/blob/main/series_methods_and_handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv('https://andybek.com/pandas-drinks')

         country  beer_servings  ...  wine_servings  total_litres_of_pure_alcohol
0    Afghanistan            NaN  ...            NaN                           NaN
1        Albania           89.0  ...           54.0                           4.9
2        Algeria           25.0  ...           14.0                           0.7
3        Andorra          245.0  ...          312.0                          12.4
4         Angola          217.0  ...           45.0                           5.9
..           ...            ...  ...            ...                           ...
188    Venezuela          333.0  ...            3.0                           7.7
189      Vietnam          111.0  ...            1.0                           2.0
190        Yemen            6.0  ...            NaN                           0.1
191       Zambia           32.0  ...            4.0                           2.5
192     Zimbabwe           64.0  ...            4.0                           4.7

[193 rows x 5 columns]

In [ ]:
wine=pd.read_csv('https://andybek.com/pandas-drinks', usecols=['country', 'wine_servings'], index_col='country', squeeze='True')

In [ ]:
type(wine)

pandas.core.series.Series

In [ ]:
# size, shape, len()
wine.size

193

In [ ]:
wine.shape

(193,)

In [ ]:
len(wine)

193

In [ ]:
wine.is_unique

False

In [ ]:
wine.head().is_unique

True

In [ ]:
wine.count()

162

In [ ]:
wine.hasnans

True

In [ ]:
# list(wine.count())

In [ ]:
list(wine[wine.isnull()].index)

['Afghanistan',
 'Bangladesh',
 'Bhutan',
 'Burundi',
 'North Korea',
 'Eritrea',
 'Ethiopia',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Kuwait',
 'Lesotho',
 'Libya',
 'Malaysia',
 'Maldives',
 'Marshall Islands',
 'Mauritania',
 'Monaco',
 'Myanmar',
 'Nepal',
 'Pakistan',
 'Rwanda',
 'San Marino',
 'Saudi Arabia',
 'Somalia',
 'Sri Lanka',
 'Sudan',
 'Tajikistan',
 'Uganda',
 'Yemen']

useful methods on SERIES:

.size()  returns number of entries in Series 
,count() returns number of non-null items
.isnull().sum() counts number of True items in Boolean mask returned by isNull() tells the number of null entries in the original series
.isna().sum() alternative for above to count NaNs

In [ ]:
#commented out to save space
# list(wine[wine.notnull()].index)

In [ ]:
# help(pd.Series)
#

In [ ]:
#skills challenge 1 countries reporting wine servings
wine_servings = wine[wine.notnull()]

In [ ]:
#skills challenge 2: total wine consumption
wine_servings.sum()

8221.0

In [ ]:
wine_servings[wine_servings<100].sum()

2416.0

In [ ]:
#statistics
wine.describe()

count    162.000000
mean      50.746914
std       76.134917
min        1.000000
25%        3.000000
50%       11.500000
75%       61.250000
max      339.000000
Name: wine_servings, dtype: float64

In [ ]:
wine[wine==wine.max()]

country
Portugal    339.0
Name: wine_servings, dtype: float64

In [ ]:
#Skills challenge 1: create series of countries with more than 50 wine servings
fifty_plus = wine[wine > 50]

In [ ]:
#skills challenge 2: select the countries with the smallest 20 values from fifty_ples
fifty_plus_smallest20= fifty_plus.nsmallest(20)

In [ ]:
#skills challenge 3: find the mean, std, median of this collection from step 2

#mean
fifty_plus_smallest20.mean()

74.25

In [ ]:
#standard deviation
fifty_plus_smallest20.std()

19.07292100831631

In [ ]:
#median
# fifty_plus_smallest20.quantile(0.5)
fifty_plus_smallest20.median()

73.5

In [ ]:
#Skills challenge

In [ ]:
beers=pd.read_csv('https://andybek.com/pandas-drinks', usecols=['country', 'beer_servings'], index_col='country', squeeze='True')

In [ ]:
#beers mean
beers.mean()

102.87078651685393

In [ ]:
#beers median
beers.median()

60.0

In [ ]:
#beers mtandard deviation
beers.std()

100.64571267934778

In [ ]:
#skewness
beers.mode()

#mode < mean => positive skew

0    5.0
1    6.0
2    9.0
dtype: float64

In [ ]:
first10 = beers[:10]

In [ ]:
first10

country
Afghanistan            NaN
Albania               89.0
Algeria               25.0
Andorra              245.0
Angola               217.0
Antigua & Barbuda     12.0
Argentina            193.0
Armenia               21.0
Australia            261.0
Austria              279.0
Name: beer_servings, dtype: float64

In [ ]:
zscores = (first10 - beers.mean())/beers.std()

In [ ]:
zscores.sort_values(ascending=False)

country
Austria              1.749992
Australia            1.571147
Andorra              1.412174
Angola               1.133970
Argentina            0.895510
Albania             -0.137818
Algeria             -0.773712
Armenia             -0.813455
Antigua & Barbuda   -0.902878
Afghanistan               NaN
Name: beer_servings, dtype: float64

In [ ]:
#largest absolute: Austria 1.74 positive deviation